
header{
    background: linear-gradient(
        to left,
        red,
        orange
    );
}
ul li {
    list-style: none;
    display: flex;
    margin: 30px;
    color:brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
ul li{
    color: blue;
    font-size: xx-large;
    cursor: pointer;
}
ul{
    display: flex;
    gap: 20px;
    padding: 0;
}
footer{
    background: linear-gradient(
        to right,
        rgb(0, 110, 255),
        rgb(208, 255, 0)
    );
}
.imagefondo {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuipU0tyXL9tghzMmACoEfela1K5tIXm-JdgWP3G3BGvZzF2SdgtISIz6v&s=10);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:1s500px;
    width: 1500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.fondooscuro {
    background: rgba(rgb)(20, 20, 20);
    padding: 70px;
    width: 50px;
    border-radius: 25px;
}
.boton {
    color: orange;
    background-color: red;
    padding: 15px 90px;
    font-size: medium;
    border-radius: 30px;
}
.boton:hover {
    color:aqua;
    transform: scale(1.1);
    cursor: pointer;
    font-size: bold;
    border-radius: 30px;
    font-size: larger;

}